*{
    box-sizing: border-box;
}

body{
    background: #696767;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.panel-container{
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    border-radius: 8px;
    padding: 30px;
    width: 700px;
    color: white;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 666px;
}

.panel-container strong{
    line-height: 20px;
    text-align: center;
    font-size: 40px;
}

.ratings-container{
    /* display: flex; */
    margin: 20px 0;
}

.rating{
    flex: 1;
    cursor: pointer;
    padding: 20px;
    margin: 10px 5px;
}

.rating:hover,
.rating:active{
    border-radius: 18px;
    background: #ccc;
    transition: 1s ease;
    color: black;
    transform: scale(0.9);
}

.icon{
    font-size: 100px;
}

.rating small{
    display: inline-block;
    margin: 10px 0 0;
    font-size: 20px;
}

.btn{
    width: 300px;
    height: 50px;
    font-size: 20px;
}
.btn:hover{
    cursor: pointer;
    border: 0;
    border-radius: 4px;
}
.btn:active{
    transform: scale(0.9);
}

.heart{
    font-size: 50px;
    font-weight: lighter;
}